extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title hi
	
block jsFirst

block body
	include ./layout/_header   
	//- content 

	.row

		.col-md-7.col-sm-8.-block_center
			.row
				.col-sm-5.col-xs-8
					p.pageHeader travel information
			.step1_block.block_elements
				p.step-title ประกันภัยเดินทาง
				.step-connect_nav
					ul.step-nav
						li.active 
							.circle 1
							p test01
						li 
							.circle 2
							p test02
						li
							.circle 3
							p test03
						li
							.circle 4
							p test04

				.step-tab
					ul.nav.nav-tabs
						li.active: a(href='#sec_in', data-toggle='tab') IN
						li: a(href='#sec_out', data-toggle='tab') OUT
					.row
						.tab-content.clearfix.col-sm-10.col-md-9.-block_center
							.tab-pane.active#sec_in
								form.radioForm(role='form')
									.radio.radio-inline
										input#radioRound(type='radio', name='trip', value='round',checked='')
										label(for='radioRound')
											| รายเที่ยว
									.radio.radio-inline
										input#radioYear(type='radio', name='trip', value='year')
										label(for='radioYear')
											| รายปี
								.form-inline
									label.col-sm-4.col-xs-5(for='usr') Name:
									.form-group.col-sm-8.col-xs-12
										input#usr.form-control(type='text')
								.form-inline
									label.col-sm-4.col-xs-5 ไปยังประเทศ
									.form-group.col-sm-8.col-xs-12
										select.selectpicker.-fullwidth
											option Car
											option Bird
											option Thee
								.form-inline
									label.col-sm-4.col-xs-5 เดินทางไป
									.form-group.col-sm-8.col-xs-12
										.datepick
											input.form-control(type='text', name='startdate')
											i.ico_datestart
								.form-inline
									label.col-sm-4.col-xs-5 เดินทางกลับ
									.form-group.col-sm-8.col-xs-12
										.datepick
											input.form-control(type='text', name='enddate')
											i.ico_dateend
								.form-inline.text-resultDate
									label.col-sm-4.col-xs-5 จำนวนวันเดินทาง
									.col-xs-3
										p 10



							.tab-pane#sec_out
								p We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab
	br
	br
	br
	br
	br
	br
	br
	br
				




	

	//- end content
	//include ./layout/_footer


block js
	//-script here