extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title hi
	
block jsFirst

block body
	include ./layout/_header   
	//- content 
	.row
		.col-sm-8.-block_center
			.step1_block.block_elements
				p.step-title ประกันภัยเดินทาง
				ul.step-nav
					li.active 1
					li 2
					li 3
					li 4

				




	

	//- end content
	//include ./layout/_footer


block js
	//-script here