extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title ประกันภัยการเดินทาง | i-Insure
	
block jsFirst

block body
	#wrapper.forlgfooter
		include ./layout/_header   
		//- content 
		.bgPage
			img.desk(src="", alt="")
			img.mobile(src="", alt="")
		.row
			.col-sm-10.col-md-8.-block_center.main_block
				.row
					.col-sm-5.col-xs-8
						p.pageHeader travel information

				.step_block.block_elements
					//- p.step-title ประกันภัยเดินทาง
					.step-connect_nav
						.line_dot
						ul
							li.active 
								a(href="#").circle: span 1
								p การเดินทาง
							li
								a(href="#").circle: span 2
								p แผนคุ้มครอง
							li
								a(href="#").circle: span 3
								p ผู้เอาประกัน
							li
								a(href="#").circle: span 4
								p ยืนยัน

					.step-tab
						ul.nav.nav-tabs
							li.active: a(href='#sec_in', data-toggle='tab') ต่างประเทศ
							li: a(href='#sec_out', data-toggle='tab') ในประเทศ
						.row
							.tab-content.clearfix.col-md-10.col-sm-11.col-xs-12.-block_center
								.tab-pane.active#sec_in
									form(action="./step_2.html" data-toggle="validator")
										.radioForm(role='form')
											.radio.radio-inline
												input#radioRound(type='radio', name='trip', value='round',checked='' required)
												label(for='radioRound')
													| รายเที่ยว
											.radio.radio-inline
												input#radioYear(type='radio', name='trip', value='year' required)
												label(for='radioYear')
													| รายปี
										//- .form-group.inline_field
										//- 	label(for='usr') Name:
										//- 	input#usr.form-control(type='text')
										.form-group.inline_field(style="position:relative;")
											label ไปยังประเทศ
											select.selectpicker
												option Germany
												option Cyprus
												option Jordan
											i#tip.tip.fa.fa-question-circle-o(data-toggle="tooltip" data-placement="bottom" title="หากเดินทางไปมากกว่า 1 ประเทศ ให้เลือกประเทศใดประเทศหนึ่งที่ท่านไป")
										.form-group.inline_field
											label วันออกเดินทาง
											.datepick
												input.form-control.material(type='text', name='startdate' required)
												i.ico_datestart
										.form-group.inline_field.forYearHide
											label วันสิ้นสุดการเดินทาง
											.datepick
												input.form-control.material(type='text', name='enddate' required)
												i.ico_dateend
										.form-group.inline_field.text-resultDate.forYearHide
											label จำนวนวันเดินทาง
											p 10
										.form-group.inline_field.text-resultDate.forYearShow
												label วันสิ้นสุดการเดินทาง
												p#resultYear 29/09/2016
										//- .form-group.inline_field.materialLabel
										//- 	.group
										//- 		input(type='text' required)
										//- 		label ไปยังประเทศ
										button.btn.btn-primary.-center(type='submit') ถัดไป



								.tab-pane#sec_out
									.tab-pane.active#sec_in
										form(action="./step_2_in.html" data-toggle="validator")
											.radioForm(role='form')
												.radio.radio-inline
													input#radioRound_in(type='radio', name='trip', value='round',checked='' required)
													label(for='radioRound_in')
														| รายเที่ยว
												.radio.radio-inline
													input#radioYear_in(type='radio', name='trip', value='year' required)
													label(for='radioYear_in')
														| รายปี
											//- .form-group.inline_field
											//- 	label(for='usr') Name:
											//- 	input#usr.form-control(type='text')
											.form-group.inline_field(style="position:relative;")
												label เดินทางจาก
												select.selectpicker
													option กรุงเทพฯ
													option กาญจนบุรี
													option ตาก
												i#tip2.tip.fa.fa-question-circle-o(data-toggle="tooltip" data-placement="bottom" title="หากเดินทางไปมากกว่า 1 จังหวัด ให้เลือกจังหวัดใดจังหวัดหนึ่งที่ท่านไป")
											.form-group.inline_field
												label ไปยัง
												select.selectpicker
													option เชียงใหม่
													option ภูเก็ต
													option พิษณุโลก
											.form-group.inline_field
												label วันออกเดินทาง
												.datepick
													input.form-control.material(type='text', name='startdate_in' required )
													i.ico_datestart
											.form-group.inline_field.forYearHide
												label วันสิ้นสุดการเดินทาง
												.datepick
													input.form-control.material(type='text', name='enddate' required)
													i.ico_dateend
											.form-group.inline_field.text-resultDate.forYearHide
													label จำนวนวันเดินทาง
													p 10
											.form-group.inline_field.text-resultDate.forYearShow
													label วันสิ้นสุดการเดินทาง
													p#resultYear 29/09/2016
											//- .form-group.inline_field.text-resultDate
											//- 	label จำนวนวันเดินทาง
											//- 	p 10
											//- .form-group.inline_field.materialLabel
											//- 	.group
											//- 		input(type='text' required)
											//- 		label ไปยังประเทศ
											button.btn.btn-primary.-center(type='submit') ถัดไป


		//- end content
		include ./layout/_footer


block js
	script.
		$('#tip,#tip2').tooltip();
				$('body').on("touchstart", function(e){
						$('.tooltip').hide();
				});
					$('i.tip').on("click", function(e){
						$('.tooltip').show();
				});