extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title hi
	
block jsFirst

block body
	include ./layout/_header   
	//- content 
	h1 Hello Jade 
	
	table.tablesaw.table(data-tablesaw-mode='swipe', data-tablesaw-minimap)
		thead
			tr
				th(scope='col', data-tablesaw-sortable-col, data-tablesaw-priority='persist') Movie Title
				th(scope='col', data-tablesaw-sortable-col, data-tablesaw-priority='1') Rank
				th(scope='col', data-tablesaw-sortable-col, data-tablesaw-priority='1') Year
				th(scope='col', data-tablesaw-sortable-col, data-tablesaw-priority='3') Rating
				th(scope='col', data-tablesaw-sortable-col, data-tablesaw-priority='4') Gross
		tbody
			tr
				td.title Avatar
				td 1
				td 2009
				td 83%
				td $2.7B
			tr
				td.title Titanic
				td 2
				td 1997
				td 88%
				td $2.1B
			tr
				td.title The Avengers
				td 3
				td 2012
				td 92%
				td $1.5B
			tr
				td.title Harry Potter and the Deathly Hallows—Part 2
				td 4
				td 2011
				td 96%
				td $1.3B
			tr
				td.title Frozen
				td 5
				td 2013
				td 89%
				td $1.2B
			tr
				td.title Iron Man 3
				td 6
				td 2013
				td 78%
				td $1.2B
			tr
				td.title Transformers: Dark of the Moon
				td 7
				td 2011
				td 36%
				td $1.1B
			tr
				td.title The Lord of the Rings: The Return of the King
				td 8
				td 2003
				td 95%
				td $1.1B
			tr
				td.title Skyfall
				td 9
				td 2012
				td 92%
				td $1.1B
			tr
				td.title Transformers: Age of Extinction
				td 10
				td 2014
				td 18%
				td $1.0B


	

	//- end content
	include ./layout/_footer


block js
	//-script here