extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title hi
	
block jsFirst

block body
	include ./layout/_header   
	//- content 
	.row
		.col-sm-8.-block_center
			.step1_block.block_elements
				p.step-title ประกันภัยเดินทาง
				.step-connect_nav
					ul.step-nav
						li.active 
							.circle 1
							p test01
						li 
							.circle 2
							p test02
						li
							.circle 3
							p test03
						li
							.circle 4
							p test04

				.step-tab
					ul.nav.nav-tabs
						li.active: a(href='#sec_in', data-toggle='tab') IN
						li: a(href='#sec_out', data-toggle='tab') OUT
					.row
						.tab-content.clearfix.col-sm-8.-block_center
							.tab-pane.active#sec_in
								form.radioForm(role='form')
									.radio.radio-inline
										input#radioRound(type='radio', name='trip', value='round',checked='')
										label(for='radioRound')
											| รายเที่ยว
									.radio.radio-inline
										input#radioYear(type='radio', name='trip', value='year')
										label(for='radioYear')
											| รายปี
								.form-inline
									label.col-xs-3(for='usr') Name:
									.form-group.col-sm-9.col-xs-12
											input#usr.form-control(type='text')
								.form-inline
									label.col-xs-3(for='usr') Name:
									.form-group.col-sm-9.col-xs-12
										.dropdown
											button#dropdownMenu1.btn.btn-default.dropdown-toggle.-fullwidth(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
												| test01
												span.caret
											ul.dropdown-menu.-fullwidth(aria-labelledby='dropdownMenu1')
												li
													a(href='#') test01
												li
													a(href='#') test02
												li
													a(href='#') test03



							.tab-pane#sec_out
								p We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab

				




	

	//- end content
	//include ./layout/_footer


block js
	//-script here