extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title การเดินทาง
	
block jsFirst

block body
	#wrapper.forlgfooter
		include ./layout/_header   
		//- content 
		.bgPage
			img.desk(src="./images/bg01.jpg", alt="")
			img.mobile(src="./images/bgxs01.jpg", alt="")
		.row
			.col-sm-10.col-md-8.-block_center
				.row
					.col-sm-5.col-xs-8
						p.pageHeader travel information

				.step_block.block_elements
					//- p.step-title ประกันภัยเดินทาง
					.step-connect_nav
						.line_dot
						ul
							li.active 
								a(href="#").circle: span 1
								p การเดินทาง
							li
								a(href="#").circle: span 2
								p แผนคุ้มครอง
							li
								a(href="#").circle: span 3
								p ผู้เอาประกัน
							li
								a(href="#").circle: span 4
								p ยืนยัน

					.step-tab
						ul.nav.nav-tabs
							li.active: a(href='#sec_in', data-toggle='tab') ต่างประเทศ
							li: a(href='#sec_out', data-toggle='tab') ในประเทศ
						.row
							.tab-content.clearfix.col-md-10.col-sm-11.col-xs-12.-block_center
								.tab-pane.active#sec_in
									form(action="./step_2.html")
										.radioForm(role='form')
											.radio.radio-inline
												input#radioRound(type='radio', name='trip', value='round',checked='')
												label(for='radioRound')
													| รายเที่ยว
											.radio.radio-inline
												input#radioYear(type='radio', name='trip', value='year')
												label(for='radioYear')
													| รายปี
										//- .form-group.inline_field
										//- 	label(for='usr') Name:
										//- 	input#usr.form-control(type='text')
										.form-group.inline_field
											label ไปยังประเทศ
											select.selectpicker
												option Car
												option Bird
												option Thee
										.form-group.inline_field
											label เดินทางไป
											.datepick
												input.form-control.material(type='text', name='startdate')
												i.ico_datestart
										.form-group.inline_field
											label เดินทางกลับ
											.datepick
												input.form-control.material(type='text', name='enddate')
												i.ico_dateend
										.form-group.inline_field.text-resultDate
											label จำนวนวันเดินทาง
											p 10
										//- .form-group.inline_field.materialLabel
										//- 	.group
										//- 		input(type='text' required)
										//- 		label ไปยังประเทศ
										button.btn.btn-primary.-center(type='submit') ถัดไป



								.tab-pane#sec_out
									.tab-pane.active#sec_in
										form
											.radioForm(role='form')
												.radio.radio-inline
													input#radioRound(type='radio', name='trip', value='round',checked='')
													label(for='radioRound')
														| รายเที่ยว
												.radio.radio-inline
													input#radioYear(type='radio', name='trip', value='year')
													label(for='radioYear')
														| รายปี
											//- .form-group.inline_field
											//- 	label(for='usr') Name:
											//- 	input#usr.form-control(type='text')
											.form-group.inline_field
												label จากประเทศ
												select.selectpicker
													option Car
													option Bird
													option Thee
											.form-group.inline_field
												label ไปยังประเทศ
												select.selectpicker
													option Car
													option Bird
													option Thee
											.form-group.inline_field
												label เดินทางไป
												.datepick
													input.form-control.material(type='text', name='startdate')
													i.ico_datestart
											.form-group.inline_field
												label เดินทางกลับ
												.datepick
													input.form-control.material(type='text', name='enddate')
													i.ico_dateend
											.form-group.inline_field.text-resultDate
												label จำนวนวันเดินทาง
												p 10
											//- .form-group.inline_field.materialLabel
											//- 	.group
											//- 		input(type='text' required)
											//- 		label ไปยังประเทศ
											button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_2.html'") ถัดไป


		//- end content
		include ./layout/_footer


block js
	//-script here