extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title ยืนยัน
	
block jsFirst

block body
	include ./layout/_header   
	//- content 
	.bgPage
		img.desk(src="./images/bg01.jpg", alt="")
		img.mobile(src="./images/bgxs01.jpg", alt="")
	.row
		.col-sm-10.col-md-8.-block_center.main_block
			.row
				.col-sm-5.col-xs-12
					p.pageHeader CONFIRM <br>AND LET’S GO!
			.step_block.block_elements
				//- p.step-title ประกันภัยเดินทาง
				.step-connect_nav
					.line_dot
					ul
						li
							a(href="./index.html").circle: span 1
							p การเดินทาง
						li
							a(href="./step_2.html").circle: span 2
							p แผนคุ้มครอง
						li
							a(href="./step_3.html").circle: span 3
							p ผู้เอาประกัน
						li.active 
							a(href="./step_4.html").circle: span 4
							p ยืนยัน


				.result_block
					.row
						.col-md-10.col-sm-11.col-xs-12.-block_center
							.result_list
								.result-header
									p.header-title รายละเอียดการเดินทาง
									a(href="#").header-action 
										i.fa.fa-chevron-circle-left
										| แก้ไข
								.result-detail
									.col-sm-6
										p เดินทางต่างประเทศ รายเที่ยว
									.col-sm-6
										ul.place-go
											li ประเทศไทย
											li สวิตเซอร์แลนด์
									.col-sm-6
										ul.duration-go
											li 11/08/2016
											li 21/08/2016 
									.col-sm-6
										p รวม 10 วัน
							.result_list
								.result-header
									p.header-title แผนคุ้มครอง
									a(href="#").header-action 
										i.fa.fa-chevron-circle-left
										| แก้ไข
								.result-detail
									.col-sm-6
										p วีซ่าพลัส 641 บาท
							.result_list
								.result-header
									p.header-title รายละเอียดผู้เอาประกัน
									a(href="#").header-action 
										i.fa.fa-chevron-circle-left
										| แก้ไข
								.result-detail.mobile
									.result-detail_list
										.row
											.col-xs-12
												label ชื่อ - นามสกุล
												p 1. Mr.Sateanpong Nampud
										.row
											.col-xs-6.-no-paddingRight
												label เลขหนังสือเดินทาง
												p AA1234567
											.col-xs-6
												label วันเดือนปีเกิด
												p 30/07/1992
									.result-detail_list
										.row
											.col-xs-12
												label ชื่อ - นามสกุล
												p 2. Mr.Sateanpong Nampud
										.row
											.col-xs-6.-no-paddingRight
												label เลขหนังสือเดินทาง
												p AA1234567
											.col-xs-6
												label วันเดือนปีเกิด
												p 30/07/1992
									.line_dot
									.result-detail_list
										.row
											.col-sm-4
												label ที่อยู่
												p 123 Sukhumvit Road Phrakanong Bangkapi Bangkok 10250
											.col-sm-4
												label โทรศัพท์มือถือ
												p 0827811436
											.col-sm-4
												label อีเมล
												p sateanpong@gmail.com

								.result-detail.desk
									.result-detail_list
										.row
											.col-sm-5
												label ชื่อ - นามสกุล
												p 1. Mr.Sateanpong Nampud
												p 2. Mr.Sateanpong Nampud
											.col-sm-3.-no-padding
												label เลขหนังสือเดินทาง
												p AA1234567
												p AA1234567
											.col-sm-4
												label วันเดือนปีเกิด
												p 30/07/1992
												p 30/07/1992
									.line_dot
									.result-detail_list
										.row
											.col-sm-5
												label ที่อยู่
												p.place 123 Sukhumvit Road Phrakanong Bangkapi Bangkok 10250
											.col-sm-3.-no-padding
												label โทรศัพท์มือถือ
												p 0827811436
											.col-sm-4
												label อีเมล
												p sateanpong@gmail.com
					.row
						.summary_block.col-sm-12
							.row
								.col-sm-5.-no-padding
									.row
										.col-sm-6.col-xs-5
											p จำนวนผู้เอาประกัน
											p.value 2
										.col-sm-6.col-xs-7
											p เบี้ยประกันรวม
											p.value 1,282 บาท
								.col-sm-7.-no-padding
									.row
										.col-sm-5.col-xs-5
											p รหัสโปรโมชั่น
											//-p.value.text-promoCode dig1090a
											.form-group.inline_field
												input.form-control.material(type='text')
										.col-sm-7.col-xs-7
											p เบี้ยประกันที่ต้องชำระ
											p.value.text-resultDate 1,154 
												span บาท

					button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_5.html'") ชำระเงิน

									
											








	//- end content
	include ./layout/_footer


block js
	//-script here