extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title ยืนยัน
	
block jsFirst

block body
	include ./layout/_header   
	//- content 
	.bgPage.home
	.row
		.col-sm-10.col-md-8.-block_center
			.row
				.col-sm-5.col-xs-12
					p.pageHeader CONFIRM <br>AND LET’S GO!
			.step_block.block_elements
				//- p.step-title ประกันภัยเดินทาง
				.step-connect_nav
					.line_dot
					ul
						li
							a(href="./index.html").circle: span 1
							p การเดินทาง
						li
							a(href="./step_2.html").circle: span 2
							p แผนคุ้มครอง
						li
							a(href="./step_3.html").circle: span 3
							p ผู้เอาประกัน
						li.active 
							a(href="./step_4.html").circle: span 4
							p ยืนยัน


				.result_block
					.row
						.col-md-10.col-sm-11.col-xs-12.-block_center
							.result_list
								.result-header
									p.header-title รายละเอียดการเดินทาง
									a(href="#").header-action 
										i.fa.fa-chevron-circle-left
										| แก้ไข
								.result-detail
									.col-sm-6
										p เดินทางต่างประเทศ รายเที่ยว
									.col-sm-6
										ul.place-go
											li ประเทศไทย
											li สวิตเซอร์แลนด์
									.col-sm-6
										ul.duration-go
											li 11/08/2016
											li 21/08/2016 
									.col-sm-6
										p รวม 10 วัน
							.result_list
								.result-header
									p.header-title แผนคุ้มครอง
									a(href="#").header-action 
										i.fa.fa-chevron-circle-left
										| แก้ไข
								.result-detail
									.col-sm-6
										p วีซ่าพลัส 641 บาท
							.result_list
								.result-header
									p.header-title รายละเอียดผู้เอาประกัน
									a(href="#").header-action 
										i.fa.fa-chevron-circle-left
										| แก้ไข
								.result-detail.mobile
									.result-detail_list
										.row
											.col-xs-12
												label ชื่อ - นามสกุล
												p 1. Mr.Sateanpong Nampud
										.row
											.col-xs-6.-no-paddingRight
												label เลขหนังสือเดินทาง
												p AA1234567
											.col-xs-6
												label วันเดือนปีเกิด
												p 30/07/1992
									.result-detail_list
										.row
											.col-xs-12
												label ชื่อ - นามสกุล
												p 2. Mr.Sateanpong Nampud
										.row
											.col-xs-6.-no-paddingRight
												label เลขหนังสือเดินทาง
												p AA1234567
											.col-xs-6
												label วันเดือนปีเกิด
												p 30/07/1992
									
											








	//- end content
	include ./layout/_footer


block js
	//-script here