extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title แผนคุ้มครอง
	
block jsFirst

block body
	#wrapper
		include ./layout/_header   
		//- content 
		.bgPage
			img.desk(src="./images/bg01.jpg", alt="")
			img.mobile(src="./images/bgxs01.jpg", alt="")
		.row
			.col-sm-10.col-md-8.-block_center.main_block
				.row
					.col-sm-5.col-xs-8
						p.pageHeader Pick the Plan that Fits You
				.step_block.block_elements
					//- p.step-title ประกันภัยเดินทาง
					.step-connect_nav
						.line_dot
						ul
							li
								a(href="./index.html").circle: span 1
								p การเดินทาง
							li.active 
								a(href="./step_2.html").circle: span 2
								p แผนคุ้มครอง
							li
								a(href="./step_3.html").circle: span 3
								p ผู้เอาประกัน
							li
								a(href="#").circle: span 4
								p ยืนยัน
					.step-history
						.row
							.col-md-10.col-sm-11.col-xs-12.-block_center
								.item_history
									.history_head
										p.history-title รายละเอียดการเดินทาง
										a(href="#").history-action
											i.fa.fa-chevron-circle-left
											| แก้ไข
									.history_detail
										.col-sm-6
											p เดินทางต่างประเทศ รายเที่ยว
										.col-sm-6
											ul.place-go
												li ประเทศไทย
												li สวิตเซอร์แลนด์
										.col-sm-6
											ul.duration-go
												li 11/08/2016
												li 21/08/2016 
										.col-sm-6
											p รวม 10 วัน
					
					.plan_block.swipe
						.stickyHeader
							#customNav.customNavigation
								i.prev.fa.fa-chevron-circle-left
								i.next.fa.fa-chevron-circle-right
							.owl-carousel.disableDrag
								.item
									.plan-header
										.plan-header_text
											p วีซ่า
												span 432 บาท
								.item
									.plan-header
										.highlightTag
										.plan-header_text
											p วีซ่าพลัส
												span 641 บาท
								.item
									.plan-header
										.plan-header_text
											p วีซ่าอีลีท
												span 915 บาท
								.item
									.plan-header
										.plan-header_text
											p วีซ่าคอมพรีเฮนซีพ
												span 1,423 บาท
						.owl-carousel
							.item
								.plan-header
									.plan-header_text
										p วีซ่า
											span 432 บาท
											
								.plan-table
									table.table
										tbody
											tr
												td การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
												td 2,000,000
											tr
												td การบอกเลิกการเดินทาง
												td 100,000
											tr
												td การลดจํานวนวันเดินทาง
												td 100,000 	
											tr
												td การสูญเสีย หรือเสียหายของ<br> กระเป๋าเดินทางและทรัพย์สินส่วนตัว
												td 10,000
											tr
												td ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการเคล่ือนย้าย<br> หรือการส่งกลับเพื่อการรักษาพยาบาล
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการส่งศพกลับประเทศ
												td 2,000,000
											tr
												td การล่าช้าของการเดินทาง
												td 10,000
											tr
												td การพลาดการต่อเที่ยวบิน
												td 10,000
											tr
												td ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
												td 1,000,000
											tr
												td บริการช่วยเหลือฉุกเฉิน 24 ชั่วโมง
												td รวมอยู่ด้วย
											tr
												td ผลประโยชน์การล่าช้าของกระเป๋าเดินทาง
												td -
											tr
												td ความรับผิดชอบต่อบัตรเครดิต
												td - 

									a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
									button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป
							.item
								.plan-header
									.highlightTag
									.plan-header_text
										p วีซ่าพลัส
											span 641 บาท
											
								.plan-table
									table.table
										tbody
											tr
												td การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
												td 3,000,000
											tr
												td การบอกเลิกการเดินทาง
												td 100,000
											tr
												td การลดจํานวนวันเดินทาง
												td 100,000 	
											tr
												td การสูญเสีย หรือเสียหายของ<br> กระเป๋าเดินทางและทรัพย์สินส่วนตัว
												td 10,000
											tr
												td ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการเคล่ือนย้าย<br> หรือการส่งกลับเพื่อการรักษาพยาบาล
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการส่งศพกลับประเทศ
												td 2,000,000
											tr
												td การล่าช้าของการเดินทาง
												td 10,000
											tr
												td การพลาดการต่อเที่ยวบิน
												td 10,000
											tr
												td ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
												td 1,000,000
											tr
												td บริการช่วยเหลือฉุกเฉิน 24 ชั่วโมง
												td รวมอยู่ด้วย
											tr
												td ผลประโยชน์การล่าช้าของกระเป๋าเดินทาง
												td -
											tr
												td ความรับผิดชอบต่อบัตรเครดิต
												td - 

									a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
									button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป
							.item
								.plan-header
									.plan-header_text
										p วีซ่าอีลีท
											span 915 บาท
											
								.plan-table
									table.table
										tbody
											tr
												td การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
												td 4,000,000
											tr
												td การบอกเลิกการเดินทาง
												td 100,000
											tr
												td การลดจํานวนวันเดินทาง
												td 100,000 	
											tr
												td การสูญเสีย หรือเสียหายของ<br> กระเป๋าเดินทางและทรัพย์สินส่วนตัว
												td 10,000
											tr
												td ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการเคล่ือนย้าย<br> หรือการส่งกลับเพื่อการรักษาพยาบาล
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการส่งศพกลับประเทศ
												td 2,000,000
											tr
												td การล่าช้าของการเดินทาง
												td 10,000
											tr
												td การพลาดการต่อเที่ยวบิน
												td 10,000
											tr
												td ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
												td 1,000,000
											tr
												td บริการช่วยเหลือฉุกเฉิน 24 ชั่วโมง
												td รวมอยู่ด้วย
											tr
												td ผลประโยชน์การล่าช้าของกระเป๋าเดินทาง
												td -
											tr
												td ความรับผิดชอบต่อบัตรเครดิต
												td - 

									a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
									button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป
							.item
								.plan-header
									.plan-header_text
										p วีซ่าคอมพรีเฮนซีพ
											span 1,423 บาท
											
								.plan-table
									table.table
										tbody
											tr
												td การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
												td 5,000,000
											tr
												td การบอกเลิกการเดินทาง
												td 100,000
											tr
												td การลดจํานวนวันเดินทาง
												td 100,000 	
											tr
												td การสูญเสีย หรือเสียหายของ<br> กระเป๋าเดินทางและทรัพย์สินส่วนตัว
												td 10,000
											tr
												td ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการเคล่ือนย้าย<br> หรือการส่งกลับเพื่อการรักษาพยาบาล
												td 2,000,000
											tr
												td ค่าใช้จ่ายในการส่งศพกลับประเทศ
												td 2,000,000
											tr
												td การล่าช้าของการเดินทาง
												td 10,000
											tr
												td การพลาดการต่อเที่ยวบิน
												td 10,000
											tr
												td ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
												td 1,000,000
											tr
												td บริการช่วยเหลือฉุกเฉิน 24 ชั่วโมง
												td รวมอยู่ด้วย
											tr
												td ผลประโยชน์การล่าช้าของกระเป๋าเดินทาง
												td -
											tr
												td ความรับผิดชอบต่อบัตรเครดิต
												td - 

									a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
									button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป
					.plan_block.tablelist
						.row
							.col-md-11.col-sm-12.col-xs-12.-block_center
								table.table
									thead
										tr
											td.title 
											td
												.plan-header_text
													p วีซ่า<br>
														span 432 
														| บาท
											td
												.plan-header_text
													p วีซ่าพลัส<br>
														span 641
														| บาท
												.highlightTag
											td
												.plan-header_text
													p วีซ่าอีลีท<br>
														span 915
														| บาท
											td
												.plan-header_text
													p วีซ่าคอมพรีเฮนซีพ<br>
														span 1,423
														| บาท
									tbody
										tr
											td.title การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
											td 2,000,000
											td 2,000,000
											td 2,000,000
											td 2,000,000
										tr
											td.title การบอกเลิกการเดินทาง
											td 100,000
											td 100,000
											td 100,000
											td 100,000
										tr
											td.title การลดจํานวนวันเดินทาง
											td 100,000 	
											td 100,000
											td 100,000
											td 100,000
										tr
											td.title การสูญเสีย หรือเสียหายของ<br> กระเป๋าเดินทางและทรัพย์สินส่วนตัว
											td 10,000
											td 10,000
											td 10,000
											td 10,000
										tr
											td.title ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
											td 2,000,000
											td 2,000,000
											td 2,000,000
											td 2,000,000
										tr
											td.title ค่าใช้จ่ายในการเคล่ือนย้าย<br> หรือการส่งกลับเพื่อการรักษาพยาบาล
											td 2,000,000
											td 2,000,000
											td 2,000,000
											td 2,000,000
										tr
											td.title ค่าใช้จ่ายในการส่งศพกลับประเทศ
											td 2,000,000
											td 2,000,000
											td 2,000,000
											td 2,000,000
										tr
											td.title การล่าช้าของการเดินทาง
											td 10,000
											td 10,000
											td 10,000
											td 10,000
										tr
											td.title การพลาดการต่อเที่ยวบิน
											td 10,000
											td 10,000
											td 10,000
											td 10,000
										tr
											td.title ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
											td 1,000,000
											td 1,000,000
											td 1,000,000
											td 1,000,000
										tr
											td.title บริการช่วยเหลือฉุกเฉิน 24 ชั่วโมง
											td รวมอยู่ด้วย
											td รวมอยู่ด้วย
											td รวมอยู่ด้วย
											td รวมอยู่ด้วย
										tr
											td.title ผลประโยชน์การล่าช้าของกระเป๋าเดินทาง
											td -
											td -
											td -
											td -
										tr
											td.title ความรับผิดชอบต่อบัตรเครดิต
											td - 
											td -
											td -
											td -
										tr
											td.title 
											td: a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
											td: a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
											td: a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
											td: a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
										tr
											td.title
											td: button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป
											td: button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป
											td: button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป
											td: button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3.html'") ถัดไป



		//- end content
		include ./layout/_footer


block js
	script.
			// sticy header table (sm)
			var header = $(".stickyHeader");
			var stickyHeaderPosition = header.offset();
			var planTable = $(".plan-table");
			var fromTop = $("html").scrollTop();
			var flag = 1;
			$(window).on("scroll", function(e) {
				if (flag) {
					stickyHeaderPosition = header.offset();
					flag -= 1;
				}
				fromTop = $("body").scrollTop();
				if (fromTop > (stickyHeaderPosition.top)) {
					header.addClass("fixed");
					planTable.addClass("spacetop");
				} else {
					header.removeClass("fixed");
					planTable.removeClass("spacetop");
				}

			});