extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title แผนคุ้มครอง
	
block jsFirst

block body
	#wrapper
		include ./layout/_header   
		//- content 
		.bgPage
			img.desk(src="./images/bg01.jpg", alt="")
			img.mobile(src="./images/bgxs01.jpg", alt="")
		.row
			.col-sm-10.col-md-8.-block_center
				.row
					.col-sm-5.col-xs-8
						p.pageHeader Pick the Plan that Fits You
				.step_block.block_elements
					//- p.step-title ประกันภัยเดินทาง
					.step-connect_nav
						.line_dot
						ul
							li
								a(href="./index.html").circle: span 1
								p การเดินทาง
							li.active 
								a(href="./step_2.html").circle: span 2
								p แผนคุ้มครอง
							li
								a(href="./step_3.html").circle: span 3
								p ผู้เอาประกัน
							li
								a(href="#").circle: span 4
								p ยืนยัน
					.step-history
						.row
							.col-md-10.col-sm-11.col-xs-12.-block_center
								.item_history
									.history_head
										p.history-title รายละเอียดการเดินทาง
										a(href="#").history-action
											i.fa.fa-chevron-circle-left
											| แก้ไข
									.history_detail
										.col-sm-6
											p เดินทางต่างประเทศ รายเที่ยว
										.col-sm-6
											ul.place-go
												li ประเทศไทย
												li สวิตเซอร์แลนด์
										.col-sm-6
											ul.duration-go
												li 11/08/2016
												li 21/08/2016 
										.col-sm-6
											p รวม 10 วัน

					.plan_block.swipe
						#customNav.customNavigation
							i.prev.fa.fa-chevron-circle-left
							i.next.fa.fa-chevron-circle-right
						.owl-carousel
							.item
								.plan-header
									.plan-header_text
										p Domestic Eco
											span 83 บาท
											
								.plan-table
									table.table
										tbody
											tr
												td การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
												td 2,000,000
											tr
												td การบอกเลิกการเดินทาง
												td 100,000
											tr
												td ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
												td 2,000,000
											tr
												td ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
												td 1,000,000

									a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
									button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3_in.html'") ถัดไป
							.item
								.plan-header
									.highlightTag
									.plan-header_text
										p Domestic Care
											span 164 บาท
											
								.plan-table
									table.table
										tbody
											tr
												td การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
												td 2,000,000
											tr
												td การบอกเลิกการเดินทาง
												td 100,000
											tr
												td ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
												td 2,000,000
											tr
												td ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
												td 1,000,000

									a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
									button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3_in.html'") ถัดไป
					.plan_block.tablelist.tablelist_in
						.row
							.col-md-10.col-sm-11.col-xs-12.-block_center
								table.table
									thead
										tr
											td.title 
											td
												.plan-header_text
													p Domestic<br> Eco<br>
														span 83 
														| บาท
											td
												.plan-header_text
													p Domestic<br> Care<br>
														span 164
														| บาท
												.highlightTag
									tbody
										tr
											td.title การเสียชีวิตหรืออวัยวะเนื่องจาก<br> อุบัติเหตุ ตลอด 24 ชั่วโมง
											td 2,000,000
											td 2,000,000
										tr
											td.title การบอกเลิกการเดินทาง
											td 100,000
											td 100,000
										tr
											td.title ค่ารักษาพยาบาลเนื่องจาก<br> อุบัติเหตุหรือการเจ็บป่วย
											td 2,000,000
											td 2,000,000
										tr
											td.title ความรับผิดตามกฎหมาย<br> ต่อบุคคลภายนอก
											td 1,000,000
											td 1,000,000
										tr
											td.title 
											td: a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
											td: a(href="#").read_more อ่านรายละเอียดเพิ่มเติม
										tr
											td.title
											td: button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3_in.html'") ถัดไป
											td: button.btn.btn-primary.-center(type='submit' onclick="location.href='./step_3_in.html'") ถัดไป



		//- end content
		include ./layout/_footer


block js
	//-script here