extends ./layout/_base

block var
	-var currentPage = "home"

block title
	title ขั้นตอนที่ 3 (เลือกผู้เอาประกัน) | INSURED
	
block jsFirst

block body
	#wrapper
		include ./layout/_header   
		//- content 
		.bgPage
			img.desk(src="", alt="")
			img.mobile(src="", alt="")
		.row
			.col-sm-10.col-md-8.-block_center.main_block
				.row
					.col-sm-5.col-xs-12
						p.pageHeader INSURED<br>INFORMATION
				.step_block.block_elements
					//- p.step-title ประกันภัยเดินทาง
					.step-connect_nav
						.line_dot
						ul
							li
								a(href="./index.html").circle: span 1
								p การเดินทาง
							li
								a(href="./step_2.html").circle: span 2
								p แผนคุ้มครอง
							li.active 
								a(href="./step_3.html").circle: span 3
								p ผู้เอาประกัน
							li
								a(href="#").circle: span 4
								p ยืนยัน
					.step-history
						.row
							.col-md-10.col-sm-11.col-xs-12.-block_center
								.item_history
									.history_head
										p.history-title รายละเอียดการเดินทาง
										a(href="#").history-action
											i.fa.fa-chevron-circle-left
											| แก้ไข
									.history_detail
										.col-sm-6
											p เดินทางต่างประเทศ รายเที่ยว
										.col-sm-6
											ul.place-go
												li ประเทศไทย
												li สวิตเซอร์แลนด์
										.col-sm-6
											ul.duration-go
												li 11/08/2016
												li 21/08/2016 
										.col-sm-6
											p รวม 10 วัน
								.item_history
									.history_head
										p.history-title แผนคุ้มครอง
										a(href="#").history-action
											i.fa.fa-chevron-circle-left
											| แก้ไข
									.history_detail.highlight
										.col-sm-6
											p วีซ่าพลัส 641 บาท

					.infomation_block
						.row
							.col-md-10.col-sm-11.col-xs-12.-block_center
								.info_list
									.info-header
										p.header-title ผู้เอาประกันคนที่ 1
										a(href="#").header-action 
											i.fa.fa-times-circle
											| ลบ
									p.ps *กรุณากรอกข้อความเป็นภาษาอังกฤษให้ตรงตามหนังสือเดินทาง
									form(action="./step_4.html" data-toggle="validator")
										.form-group.inline_field
											.row
												.col-sm-6.-no-padding
													.row
														.col-xs-4
															select.selectpicker
																option Mr.
																option Mrs.
														.col-xs-8
															.form-group.inline_field.materialLabel
																.group
																	input(type='text' required)
																	label ชื่อ
												.col-sm-6.-no-padding
													.row
														.col-sm-12
															.form-group.inline_field.materialLabel.required
																.group
																	input(type='text' required)
																	label นามสกุล
										.form-group.inline_field.form-space
											.row
												.col-sm-6.-no-padding
														label.top วันเดือนปีเกิด
														.row
															.col-xs-3
																select.selectpicker
																	option 1
																	option 2
															.col-xs-5.-no-padding
																select.selectpicker
																	option January
																	option February
															.col-xs-4
																select.selectpicker
																	option 2000
																	option 2001
												.col-sm-6.-no-padding
														label.top สัญชาติ
														.row
															.col-sm-9
																select.selectpicker
																	option Thai
																	option England
										.form-group.inline_field
											.row
												.col-sm-6
													.form-group.inline_field.materialLabel
																.group
																	input(type='text' required)
																	label เลขหนังสือเดินทาง
										.form-group.inline_field
											.row
												.col-sm-12
													.form-group.inline_field.materialLabel
																.group
																	input(type='text' required)
																	label ที่อยู่
										.form-group.inline_field.form-spaceTop
											.row
												.col-sm-3.-no-padding
														label.top จังหวัด
														.row
															.col-xs-12.-no-paddingRight 
																select.selectpicker
																	option Bangkok
																	option Lopburi
												.col-sm-3.-no-padding.inline_field
														label.top อำเภอ / เขต
														.row
															.col-xs-12.-no-paddingRight 
																select.selectpicker
																	option Phayathai
																	option Phrakanong
												.col-sm-3.-no-paddingRight.inline_field
														.row
															.form-group.inline_field.materialLabel
																	.group
																		input( required )
																		label ตำบล / แขวง
												.col-sm-3.-no-padding.inline_field
														.row
															.col-xs-12
																.form-group.inline_field.materialLabel
																	.group
																		input(type="number" required )
																		label รหัสไปรษณีย์
										.form-group.inline_field
											.row
												.col-sm-6.-no-padding.inline_field
													.row
														//- .col-xs-4.text-resultDate
														//- 	p 10250
														.col-xs-12
															.form-group.inline_field.materialLabel
																.group
																	input(type="number" required )
																	label โทรศัพท์มือถือ
												.col-sm-6.-no-padding.inline_field
													.row
														.col-sm-12
															.form-group.inline_field.materialLabel
																.group
																	input(type="email" required)
																	label อีเมล์
										.info_list.action
											.info-header
												p.header-title ผู้เอาประกันคนที่ 2
												a(href="#").header-action 
													i.fa.fa-times-circle
													| ลบ
											p.ps *กรุณากรอกข้อความเป็นภาษาอังกฤษให้ตรงตามหนังสือเดินทาง
					
												.form-group.inline_field
													.row
														.col-sm-6.-no-padding
															.row
																.col-xs-4
																	select.selectpicker
																		option Mr.
																		option Mrs.
																.col-xs-8
																	.form-group.inline_field.materialLabel
																		.group
																			input(type='text' required)
																			label ชื่อ
														.col-sm-6.-no-padding
															.row
																.col-sm-12
																	.form-group.inline_field.materialLabel
																		.group
																			input(type='text' required)
																			label นามสกุล
												.form-group.inline_field.form-space
													.row
														.col-sm-6.-no-padding
																label.top วันเดือนปีเกิด
																.row
																	.col-xs-3
																		select.selectpicker
																			option 1
																			option 2
																	.col-xs-5.-no-padding
																		select.selectpicker
																			option January
																			option February
																	.col-xs-4
																		select.selectpicker
																			option 2000
																			option 2001
														.col-sm-6.-no-padding
																label.top สัญชาติ
																.row
																	.col-sm-9
																		select.selectpicker
																			option Thai
																			option Dutch
												.form-group.inline_field
													.row
														.col-sm-6
															.form-group.inline_field.materialLabel
																		.group
																			input(type='text' required)
																			label เลขหนังสือเดินทาง

												.row
													.col-sm-12
														a(href="#").line_add
															i.fa.fa-plus-circle
															| เพิ่มผู้เอาประกัน
												button.btn.btn-primary.-center(type='submit' ) ถัดไป
														








		//- end content
		include ./layout/_footer


block js
	//-script here