 // Content //////////////////////////////////
 .block_elements {
     background: #fff;
     border-radius: 4px;
     overflow: hidden;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }
 
 .step_block {
     position: relative;
     font-size: 14px;
     font-size: 1.4rem;
     padding: 4em 0 2.5em;
     z-index: 0;
     min-height: 45em;
     margin-bottom: 10em;
     &.spacetop {
         margin-top: 7em;
     }
 }
 
 .step-title {
     font-size: 2.5em;
     text-align: center;
 }
 
 .step-tab {
     padding: 2em 0 2.5em;
     .inline_field label {
        font-family: kanda;
        font-weight: normal;
         width: 60%;
         font-size: 1.5em;
         @media #{$md} {
             width: 32.666667%
         }
     }
 }
 
 .nav-tabs {
     border: none;
     li {
         width: 50%;
         border: none;
         background-color: #eee;
         text-align: center;
         &.active a {
             background-color: $mainblue;
             border: none;
             border-radius: 0;
             color: #fff;
             &:hover,
             &:focus {
                 background-color: $mainblue !important;
                 border: 0;
                 color: #fff;
             }
         }
         a {
             font-family: kanda_b;
             color: $darkgray;
             font-size: 2.5em;
             line-height: 1.2em;
             border: none;
             border-radius: 0;
             margin: 0;
             &:hover {
                 background-color: $lightblue;
             }
         }
     }
 }
 
 .radio label::after {
     background-color: #555555;
 }
 
 .radioForm {
     text-align: center;
     .radio.radio-inline {
         padding: 0 20px;
     }
 }
 
 .tab-content {
     padding: 2em 15px 0;
 }
 
 // End Content //////////////////////////////////
