 // Content //////////////////////////////////
 .block_elements {
     background: #fff;
     border-radius: 4px;
     overflow: hidden;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }
 
 .plan_block,
 .step1_block {
     position: relative;
     font-size: 14px;
     font-size: 1.4rem;
     padding: 3em 0;
     z-index: 0;
 }
 
 .step-title {
     font-size: 1.8em;
     text-align: center;
 }
 
 ul.step-nav {
     text-align: center;
     li {
         display: inline-block;
         position: relative;
         text-align: center;
         padding: 1px;
         box-sizing: border-box;
         .circle {
             position: relative;
             width: 1.7em;
             height: 1.7em;
             text-align: center;
             line-height: 1.7em;
             border-radius: 1em;
             background: dodgerblue;
             margin: 0 1em;
             color: white;
             &:before {
                 content: '';
                 position: absolute;
                 top: .9em;
                 left: -4em;
                 width: 4em;
                 height: .2em;
                 z-index: -1;
                 @extend .var_dots;
             }
         }
         &:first-child {
             .circle:before {
                 display: none;
             }
         }
         &.active {
             .circle {
                 background: dodgerblue;
                 width: 2em;
                 height: 2em;
                 line-height: 2em;
             }
         }
         &.active ~ li {
             .circle {
                 background: lightblue;
             }
         }
         &.active ~ .circle::before {}
     }
 }
 
 // End Content //////////////////////////////////
