 // Content //////////////////////////////////
 .block_elements {
     background: #fff;
     border-radius: 4px;
     overflow: hidden;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }
 
 .plan_block,
 .step1_block {
     position: relative;
     font-size: 14px;
     font-size: 1.4rem;
     padding: 3em 0;
     z-index: 0;
 }
 
 .step-title {
     font-size: 1.8em;
     text-align: center;
 }
 
 .step-tab {
     padding: 2em 0;
 }
 
 .nav-tabs {
     border: none;
     li {
         width: 50%;
         border: none;
         background-color: #eee;
         text-align: center;
         &.active a {
             background-color: lightblue;
             border: none;
             border-radius: 0;
             &:hover,
             &:focus {
                 background-color: lightblue !important;
                 border: 0;
             }
         }
         a {
             border: none;
             border-radius: 0;
             margin: 0;
             &:hover {
                 background-color: lightblue;
             }
         }
     }
 }
 
 .radio label::after {
     background-color: #555555;
 }
 
 .radioForm {
     text-align: center;
     .radio.radio-inline {
         padding: 0 20px;
     }
 }
 
 .tab-content {
     padding: 2em 15px;
 }
 
 .form-inline {
     padding: 2em 0;
     &.form-group {
         & > div.col-xs-8 {
             padding-left: 0;
             padding-right: 0;
         }
     }
     .form-control {
         width: 100%;
     }
     label {
         line-height: 34px;
     }
 }
   button.dropdown-toggle {
        width: 100%;
        text-align: left;
    }
 .caret {
     float: right;
     border-top: none;
     margin-top: 0px;
     &:before {
     	font-family: 'fontAwesome';
         content: "\f107";
         font-size: 16px;
         margin: 0px -8px;
     }
 }
 
 // End Content //////////////////////////////////
