.result_block {
    margin: 4em 0 2em;
}

.result_list {
    font-size: 1.6em;
    margin-bottom: .5em;
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
    p {
        font-family: kanda_b;
        color: #000;
        margin: 0 0 .2em;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .result-header {
        @extend .info-header;
        background-color: $lightgray40;
        p.header-title {
            font-family: kanda;
            color: $darkgray;
            font-size: 1.2em;
        }
        a.header-action {
            color: $darkgray;
            font-size: .9em;
            display: inline-block;
        }
    }
    .result-detail {
        font-family: kanda_b;
        color: #000;
        padding: 15px 0;
        &.mobile {
            display: block;
            @media #{$md} {
                display: none;
            }
        }
        &.desk {
            display: none;
            @media #{$md} {
                display: block;
            }
        }
        p {
            margin: 0em;
        }
        ul {
            line-height: 20px;
            li {
                display: inline-block;
            }
            &.place-go {
                li:first-child::after {
                    content: '\f178';
                    font-family: fontAwesome;
                    color: $darkgray;
                    margin-left: 13px;
                    margin-right: 3px;
                    font-size: .7em;
                }
            }
            &.duration-go {
                li:first-child::after {
                    content: '\f021';
                    font-family: fontAwesome;
                    color: $darkgray;
                    margin-left: 13px;
                    margin-right: 3px;
                    font-size: .7em;
                }
            }
        }
        label {
            font-family: 'kanda_b';
            color: $darkgray;
            font-size: 1em;
            font-weight: normal;
            pointer-events: none;
            position: relative;
            width: 100%;
            padding-left: 0px;
            margin: 0;
            white-space: nowrap;
        }
        .result-detail_list {
            margin-bottom: 1.5em;
            .col-xs-12,
            .col-sm-4 {
                margin-bottom: .2em;
            }
            p.place {
                @media #{$md} {
                    width: 90%;
                }
                @media #{$lg} {
                    width: 70%;
                }
            }
        }
    }
    .line_dot {
        margin-bottom: 1.5em;
    }
}

.summary_block {
    background: $mainblue;
    padding: 1.5em 0em;
    text-align: center;
    @media #{$lg} {
        padding: 1.5em 6em 0;
    }
    p {
        color: #fff;
        font-family: 'kanda_b';
        font-size: 1.5em;
        @media #{$lg} {
            white-space: nowrap;
        }
        &.value {
            font-size: 2.2em;
        }
    }
    p.text-resultDate {
        background-color: #fff;
        color: $darkgray;
        padding: 10px 0 9px;
        width: 100%;
        margin-top: -10px;
        font-size: 3em;
        span {
            font-size: .6em;
        }
    }
    .form-group {
        margin-top: -10px;
    }
    input {
        margin: 0;
        font-family: 'kanda_b';
        font-size: 2.5em;
        &.material {
            //padding: 10px 10px 10px 5px;
            padding: 0px 10px 0px;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #fff;
            border-radius: 0px;
            box-shadow: none;
            background: transparent;
            color: #fff;
            &:focus {
                box-shadow: none;
                border-color: $darkgray;
            }
        }
    }
}

.redeemCode{
    input{
        text-align: center;
    }
}