.payment_block {
    margin: 4em 0 2em;
}

.title_bar {
    padding: 1.5em 0;
    width: 100%;
    text-align: center;
    background-color: $mainblue;
    margin-bottom: 0em;
    @media #{$md} {
        margin-bottom: 3em;
    }
    p {
        color: #fff;
        font-family: 'kanda_b';
        font-size: 2.5em;
        margin: 0;
    }
}

.payoption_block {
    padding: 1.5em 0em 0;
    .option_block {
        position: relative;
        padding: 8em 0;
        @media #{$lg} {
            padding: 9em 0;
        }
        &:first-child,
        &:last-child {
            padding: 5em 0;
            @media #{$lg} {
                padding: 9em 0;
            }
            .option-inner {
                @media #{$lg} {
                    top: 60%;
                }
            }
        }
        &:nth-child(1) {
            @media #{$lg} {
                border-top: none;
                border-right: 1px dotted $lightgray20;
            }
        }
        &:nth-child(2) {
            border-top: 1px dotted $lightgray20;
            @media #{$lg} {
                border-top: none;
            }
            .option-inner {
                 padding-top: 15%;
                @media #{$lg} {
                      padding-top: 0;
                    padding-left: 8%;
                }
            }
        }
        &:last-child {
            border-top: none;
            @media #{$lg} {
                border-left: none;
            }
            .option-inner {

                @media #{$lg} {

                    top: 67%;
                }
            }
        }
        .option-inner {
            width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            p {
                margin: 0 0 .1em;
                text-align: left;
                &.title {
                    font-size: 2em;
                    font-family: kanda_b;
                    color: #000;
                    span {
                        font-size: .7em;
                        display: block;
                        font-family: omnes;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
            img {
                width: 110px;
                text-align: center;
                margin-bottom: 1em;
                display: block;
            }
            .radioForm {
                text-align: left;
                padding: 0;
            }
        }
    }
}
