.info_list {
    margin-bottom: 3em;
    &.action {
        a.header-action {
            display: inline-block;
        }
    }
}

.info-header {
    padding: 0 15px;
    display: inline-block;
    width: 100%;
    background-color: $mainblue;
    font-family: kanda_b;
    p.header-title {
        display: inline-block;
        color: #fff;
        padding: 10px 0;
        font-size: 2em;
        margin-bottom: 0;
    }
    a.header-action {
        display: none;
        float: right;
        color: #fff;
        padding: 10px 0;
        font-size: 1.5em;
        i.fa {
            font-family: fontAwesome;
            font-size: 15px;
            margin-right: 5px;
        }
    }
}

p.ps {
    font-family: kanda_b;
    font-size: 1.5em;
    padding: 5px 15px 0;
    line-height: 15px;
    margin-bottom: 2em;
}

.form-group {}

a.line_add {
	 font-family: kanda_b;
    display: block;
    color: #000;
    padding: 10px 0;
    font-size: 1.7em;
    padding: 1em 0;
    i.fa {
        font-family: fontAwesome;
        font-size: 15px;
        margin-right: 5px;
    }
}

.infomation_block .inline_field .form-control{
    width: 100%;
}

.infomation_block .inline_field .btn-group{
    margin-bottom: .8em;
}