.navbar {
    padding: 5px 0;
    border-radius: 0 !important;
    a {
        font-family: 'kanda_b';
        &.langChange {
            border: 1px solid $lightgray;
            border-radius: 50%;
            padding: 10px;
            margin-top: 5px;
            max-width: 43px;
            max-height: 43px;
            &:hover {
                border: 1px solid $darkgray;
                color: $darkgray;
            }
        }
    }
    li:last-child {
        padding: 0 15px;
    }
    @media #{$md} {
        padding: 10px 0;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
}

// .navbar-header {
//     display: inline;
//     float: none;
// }
.navbar-brand {
    width: 250px;
    float: left;
    height: auto;
    padding: 7px 0px 0 25px;
    font-size: 18px;
    line-height: 20px;
    @media #{$md} {
        width: 300px;
        padding: 5px 0px 0 30px;
    }
    @media #{$lg} {
        padding: 2px 0px 0 25px;
        width: 330px;
    }
    img {
        width: 100%;
    }
}

.navbar-default .navbar-nav>li>a {
    color: $lightgray;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default {
    background-color: rgba(255, 255, 255, .8);
    border: none;
    .navbar-toggle {
        border: none;
        &:focus,
        &:hover {
            background: transparent;
        }
    }
}


/* Bootstrap navbar collapse media-query */

@media (max-width: 890px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
