.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-toggle {
        border: none;
        &:focus,
        &:hover {
            background: transparent;
        }
    }
}
