.navbar {
    padding: 10px 0;
    border-radius: 0 !important;
    a {
        font-family: 'kanda_b';
        &.langChange {
            border: 1px solid $lightgray;
            border-radius: 50%;
            padding: 10px;
            margin-top: 5px;
            max-width: 43px;
            max-height: 43px;
            &:hover {
                border: 1px solid $darkgray;
                color: $darkgray;
            }
        }
    }
    li:last-child {
        padding: 0 15px;
    }
}

// .navbar-header {
//     display: inline;
//     float: none;
// }
.navbar-brand {
    width: 180px;
    float: left;
    height: auto;
    padding: 0px 0px 0 25px;
    font-size: 18px;
    line-height: 20px;
    @media #{$md} {
        width: 150px;
        padding: 5px 0px 0 30px;
    }
    @media #{$lg} {
        width: 180px;
    }
    img {
        width: 100%;
    }
}

.navbar-default .navbar-nav>li>a {
    color: $lightgray;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default {
    background-color: rgba(255,255,255,.6);
    border: none;
    .navbar-toggle {
        border: none;
        &:focus,
        &:hover {
            background: transparent;
        }
    }
}
