    .owl-carousel {
        .owl-item {}
        .item {
            position: relative;
            background: transparent;
        }
    }
    
    .customNavigation {
        i {
            cursor: pointer;
            font-size: 3em;
            &:hover {
                opacity: .7;
            }
        }
        .prev {
            position: absolute;
            left: 3%;
            z-index: 2;
            top: 2.4em;
            font-size: 22px;
            color: #fff;
        }
        .next {
            @extend .prev;
            text-align: right;
            margin-left: 40px;
            left: auto;
            right: 3%;
        }
    }
    
    .owl-dots {
        position: absolute;
        top: 7em;
        right: 15%;
        display: none !important;
        pointer-events: none;
    }
    
    .stickyHeader .owl-dots {
        display: block !important;
    }
    
    .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
    }
    
    .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 3px;
        background: transparent;
        border: 1px solid #fff;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px;
    }
    
    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
        background: #fff;
    }
    
    .animated {
        visibility: hidden;
        -webkit-animation-duration: 500 ms;
        animation-duration: 500 ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .owl-animated-out {
        z-index: 1
    }
