.step-connect_nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @media #{$md} {
        width: 80%;
    }
    @media #{$lg} {
        width: 60%;
    }
}

.step-connect_nav ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    li {
        display: inline-block;
        position: relative;
        text-align: center;
        padding: 1px;
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        .circle {
            position: relative;
            width: 1em;
            height: 1em;
            text-align: center;
            border-radius: 1em;
            background: $mainblue;
            margin: 0 auto;
            color: white;
            margin: 0em auto;
            span {
                display: block;
                padding-left: 1px;
                line-height: 1.2em;
                font-size: 19px;
            }
            &:hover{
                text-decoration: none;
            }
            // &:before {
            //     display: none;
            //     content: '';
            //     position: absolute;
            //     top: .7em;
            //     left: -4em;
            //     width: 5em;
            //     height: .2em;
            //     z-index: -1;
            //     margin-left: -8px;
            //     @extend .var_dots;
            // }
        }
        &:first-child {
            .circle:before {
                display: none;
            }
        }
        &.active {
            .circle {
                background: $mainblue;
                width: 1em;
                height: 1em;
            }
        }
        &.active ~ li {
            .circle {
                background: #fff;
                border: 2px solid $darkgray;
                width: .5em;
                height: .5em;
                margin: .3em auto;
                pointer-events:none;
                span {
                    display: none;
                }
                // &:before {
                //     top: .35em;
                //     width: 5em;
                //     margin-left: -10px;
                // }
            }
        }
    }
    p {
        font-family: kanda_b;
        font-size: 16px;
        color: $darkgray;
        @media #{$md} {
            font-size: 20px;
        }
    }
}

.line_dot {
    @extend .var_dots;
    width: 76%;
    position: absolute;
    top: 11px;
    right: 0;
    left: 0;
    height: 2px;
    margin: 0 auto;
}
