@mixin border_dot($direction) {
    background-image: linear-gradient(to right, #ddd 40%, rgba(255, 255, 255, 0) 20%);
    background-position: $direction;
    background-size: 3px 1px;
    background-repeat: repeat-x;
}


.plan_block.swipe {
    td {
        border-style: dotted;
        border-width: 1px;
        border-color: #ddd;
        vertical-align: middle;
        &:first-child {
            width: 75%;
            border-left: none;
        }
        &:not(:first-child) {
            border-left: 1px solid #ddd;
            padding: 15px 8px;
            text-align: center;
            border-style: dotted;
            border-width: 1px;
            border-color: #ddd;
            border-right: none;
        }
    }
    tbody {
        padding: 15px;
        margin-top: 25px;
        &:before {
            content: '';
            display: block;
            height: 20px;
        }
        tr {
            &:first-child {
                td {
                    border-top: none;
                }
            }
             &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}

.plan-table {
    padding: 15px;
    display: block;
    width: 100%;
}

.plan-header {
    position: relative;
    height: 9em;
    background: #00BCD4;
    display: table;
    width: 100%;
    p {
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        padding-left: 20%;
    }
}
