table,
th,
td {
    border-collapse: collapse;
}

.tablesaw {
    width: 100%;
    max-width: 100%;
    margin: auto;
    table-layout: auto;
    thead {
        background-image: none;
        background: #fff;
    }
}

.tablesaw-swipe {
    .tablesaw-cell-persist {
        box-shadow: none;
    }
    td {
        width: 25%;
    }
    td.title a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 14em;
        @media (max-width: 320px) {
            max-width: 10em;
        }
    }
}
