@mixin border_dot($direction) {
    background-image: linear-gradient(to right, #ddd 40%, rgba(255, 255, 255, 0) 20%);
    background-position: $direction;
    background-size: 3px 1px;
    background-repeat: repeat-x;
}
.tablelist,.swipe{

table {
    td {
        border-style: dotted;
        border-width: 1px;
        border-color: $lightgray30;
        vertical-align: middle;
        line-height: 20px;
    }
    thead {
        tr {
            td {
                border: none;
                border-bottom: 1px solid $lightgray20;
                padding: 20px 8px 15px !important;
            }
        }
    }
    tbody {
        font-family: 'kanda';
        font-size: 1.4em;
        color: $darkgray;
        letter-spacing: 2px;
        padding: 15px;
        margin-top: 25px;
        &:before {
            content: '';
            display: block;
            height: 20px;
        }
        tr {
            td {
                border-top: 1px dotted #ddd !important;
                line-height: 20px !important;
                &:first-child {
                    width: 75%;
                    border-left: none;
                    text-align: left;
                    @media #{$md} {
                        width: 35%;
                    }
                }
                &:not(:first-child) {
                    border-left: 1px solid $lightgray30;
                    //padding: 15px 8px;
                    text-align: left;
                    border-style: dotted;
                    border-width: 1px;
                    border-color: $lightgray30;
                    border-right: none;
                    vertical-align: top;
                }
            }
            &:first-child {
                td {
                    border-top: none !important;
                }
            }
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}
}
.plan_block.swipe {
    display: block;
    @media #{$md} {
        display: none;
    }
    .plan-header {
        position: relative;
        height: 9em;
        display: table;
        width: 100%;
        @include blue_gradient('v');
        .plan-header_text {
            display: table-cell;
            vertical-align: middle;
            padding-left: 20%;
        }
    }
}

.plan-table {
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

a.read_more {
    font-size: 1.3em;
    text-decoration: underline;
    color: $darkgray;
    @media #{$md} {
        font-size: .9em;
        text-align: left;
    }
}

.highlightTag {
    position: absolute;
    top: 0;
    right: 17%;
    background: url("../images/tag.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 16px;
    height: 45px;
}

.plan-header_text {
    p {
        vertical-align: middle;
        color: #fff;
        font-size: 2.2em;
        line-height: .7em;
        width: 55%;
        margin-bottom: 0;
        white-space: nowrap;
        @media #{$md} {
            font-size: 1.35em;
            width: auto;
            color: $darkgray;
            white-space: normal;
        }
        span {
            font-family: 'kanda_b';
            font-size: 1.5em;
            border-top: 1px solid #fff;
            line-height: 1em;
            display: block;
            max-width: 150px;
            @media #{$md} {
                display: inline;
                color: $darkgray;
                border-top: none;
            }
        }
    }
}

.plan_block.tablelist {
    display: none;
    @media #{$md} {
        display: block;
    }
    .btn-primary {
        @media #{$md} {
            color: $lightgray30;
            background: #fff;
            border: 1px solid $lightgray30;
            font-size: 1.3em;
            padding: 0 20px;
            line-height: 1.2em;
        }
    }
    table {
        tbody {
            tr {
                &:nth-last-child(3) {
                    td {
                        border-bottom: none !important
                    }
                }
                &:nth-last-child(2) {
                    td {
                        border: none !important
                    }
                }
                &:last-child {
                    td {
                        border-radius: 4px;
                        border: none !important
                    }
                }
            }
        }
    }
}

// table row hover
table {
    overflow: hidden;
}

td,
th {
    padding: 10px;
    position: relative;
    outline: 0;
    &.hover{
        color: #fff;
    }
}


 @media #{$md} {
    td:hover::after,
    thead th:not(:empty):hover::after,
    td:focus::after,
    thead th:not(:empty):focus::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
   
}

td:hover::after{
    @include blue_gradient('v');
}

td:focus::after{
    @include blue_gradient('v');
}

td.title:hover::after{
    background: transparent;
}

td.title:focus::after{
    background: transparent;
}


/* Focus stuff for mobile */

td:focus::before,
tbody th:focus::before {
    background-color: lightblue;
    content: '';
    height: 100%;
    top: 0;
    left: -5000px;
    position: absolute;
    width: 10000px;
    z-index: -1;
}

 }


/* hover Highlight*/
.tablelist{
     @media #{$md} {
    td:nth-child(1){
         color: $darkgray !important;
    }
        td,
        th,
        {
            &.hover {
                color: #fff;
                a.read_more {
                    color: #fff;
                }
                .plan-header_text{
                    p,span{
                        color: #fff;
                    }
                }
                .btn-primary{
                    color: $darkgray !important;
                     border: none !important;
                }
            }
        }
    }

}