table,
th,
td {
    border-collapse: collapse;
}

.tablesaw {
    width: 100%;
    max-width: 100%;
    margin: auto;
    table-layout: auto;
    thead {
        background-image: none;
        background: #fff;
        border: none;
        tr:first-child th{
            border:none;
        }
    }
    caption {
        display: table-caption;
        text-align: center;
    }
}

.tablesaw-swipe {
    .tablesaw-cell-persist {
        box-shadow: none;
        border-right: none;
    }
    td {
        width: 25%;
        &:not(:first-child){
            text-align: right;
        }
    }
    td.title a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 14em;
        @media (max-width: 320px) {
            max-width: 10em;
        }
    }
}

.tablesaw-advance-dots li {
    &:first-child {
        display: none;
    }
}
