/*
$sm: "screen and (min-width: 375px)";
$md-600: "screen and (min-width: 600px)";
$md: "screen and (min-width: 780px)";
$lg: "screen and (min-width: 960px)";
*/

html,body{
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@mixin bg_img($uri) {
    background-image: url($uri);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

#wrapper {
    @include bg_img("../images/bg01.jpg");
    min-height: 100%;
}

.row {
    margin: 0;
}

.-block_center {
    margin: 0 auto;
    float: none;
}

.var_dots {
    background-image: linear-gradient(to right, #cbcbcb 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x;
}
