$sm: "screen and (min-width: 375px)";
$md-500: "screen and (min-width: 500px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@mixin bg_img($uri) {
    background-image: url($uri);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

#wrapper {
    @include bg_img("../images/bgxs01.jpg");
    background-position: 85% 100% !important;
    min-height: 100%;
    @media #{$md} {
        @include bg_img("../images/bg01.jpg");
        background-position: 25% 100% !important;
    }
}

.row {
    margin: 0;
}

.-block_center {
    margin: 0 auto;
    float: none;
}

.var_dots {
    background-image: linear-gradient(to right, #cbcbcb 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x;
}

a {
    outline: 0 !important;
}

p,
label,
a,
span {
    font-family: 'kanda';
    font-size: 22px;
    letter-spacing: 1.5px;
    line-height: 20px;
}

.-fullwidth {
    width: 100% !important;
}

.-no-padding {
    padding: 0 !important;
}
