$sm: "screen and (min-width: 375px)";
$md-500: "screen and (min-width: 500px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    //position: relative;
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.mobile {
    display: block;
    @media #{$md} {
        display: none;
    }
}

.desk {
    display: none;
    @media #{$md} {
        display: block;
    }
}

@mixin bg_img($uri) {
    background-image: url($uri);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

#wrapper {
    //position: relative;
}

.bgPage {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -999;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }
}

.row {
    margin: 0;
}

.-block_center {
    margin: 0 auto;
    float: none;
}

.var_dots {
    background-image: linear-gradient(to right, #cbcbcb 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x;
}

a {
    outline: 0 !important;
}

p,
label,
a,
span {
    font-family: 'kanda';
    font-size: 22px;
    letter-spacing: 1.5px;
    line-height: 20px;
}

.container {
    width: 100% !important;
}

.-fullwidth {
    width: 100% !important;
}

.-no-padding {
    padding: 0 !important;
}

.-no-paddingRight {
    padding-right: 0 !important;
}

.-center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.line_dot {
    @extend .var_dots;
    width: 100%;
    position: relative;
    display: block;
    height: 2px;
    margin: 0 auto;
}
