footer
	.row
		.col-sm-6.footer_block
			p
				span สอบถามข้อมูลเพิ่มเติม 
				| โทร.
				span 0 2624 1111 ต่อ 4774 
				| <br> วันจันทร์-วันศุกร์ เวลา 08.30-16.30 น. อีเมล i-insure@kpi.co.th  

		.col-sm-6.footer_block.right
			img(src="./images/ktb_logo.png", alt="KTB BANK")